@{
    ViewData["Title"] = "About Us";
}

<div class="container my-5">
    <div class="p-5 bg-light rounded-3">
        <h1 class="display-5 fw-bold mb-3">About CoreWebSite</h1>
        <p class="lead">
            We are a futuristic cloud-focused technology company heavily invested in bringing robust Microsoft stack technologies to the Web.
        </p>
        <hr class="my-4">
        <p>Using Clean Architecture, MVC, and Razor components, we guarantee top-tier application quality to run resiliently on Azure App Service.</p>
    </div>
</div>
